@page "/"

<PageTitle>Super Burgers</PageTitle>
 <center>
     <div>
    <h1 style="font-weight:lighter; color:mediumslateblue">MENU</h1>
	</div>
    </center>
   
	<div class="col-6" style="border-right">
		<img src="/Img/menu.restaurante.jpg" width="1000px" height="900px" />
	</div>

